.hero {
    background-color: var(--bg-dark);
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;

        @media screen and (min-width:$desktop) {
         margin-bottom: 0;
        }


&__bg-img {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 480px;
    max-height: 400px;
    padding-top: 118px;
    padding-bottom: 60px;

    @media screen and (min-width:$tablet) {
        min-width: 768px;
        max-height: 400px;

        padding-top: 118px;
        padding-bottom: 204px;
    }

    @media screen and (min-width:$desktop) {
        width: 1600px;
        max-height: 600px;

        padding-top: 200px;
        padding-bottom: 200px;
    }

}


&__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--bg-white);
    margin-bottom: 30px;

    max-width: 360px;

    margin-left: auto;
    margin-right: auto;         


    @media screen and (min-width:$desktop) {
        max-width: 696px;
        font-size: 44px;
        line-height: 1.36;

        }


}


&__modal-btn {
    padding: 10px 32px;
}



}








