.burger{
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    fill: var(--secondary-text);

    @media screen and (min-width:$tablet) {
            display: none;
    }
}








